<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <clear/>
    <add name="MIRIM" providerName="System.Data.SqlClient" connectionString="Server=MIRIA;Database=emarket;Connection timeout=10;Integrated Security=SSPI;"/>
    <add name="GearHostSqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=mssql6.gear.host;Initial Catalog=gadgetsdb1;Integrated Security=False;user id=******;password=****"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>